.page {
  min-width: 320px;
  max-width: 882px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media (max-width: 320px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
