.element {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;
  color: black;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.element:hover {
  box-shadow: 0 0 150px 0px #ffffff5c;
}
