.profile-info__edit-button {
  margin: 0 17px;
  transition: all ease 0.3s;
  border: 0;
  background: none;
  padding: 0;
  font-size: 0;
}

.profile-info__edit-button:focus {
  outline: none;
}

@media (max-width: 320px) {
  .profile-info__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile-info__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
