.element__like-button {
  background: url(../../../images/group.svg) #fff;
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  transition: opacity ease 0.3s;
  min-width: 21px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.6;
}
