.form {
  width: 100%;
  max-width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000000;
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .form {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }
}
